.container {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.input {
  font-size: inherit;
  color: inherit;
  padding: 0.5rem;
  border: 1px solid currentColor;
  border-radius: 0.25rem;
}

.resultWrapper {
  position: relative;
}

.resultsList {
  position: absolute;
  margin: 0;
  inset-block-start: 0;
  inset-inline: 0;

  list-style: none;
  padding-inline: 0.5rem;
  background: #fff;
  border: 1px solid hsl(0, 0%, 90%);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.resultsList > li {
  margin-block: 0.5rem;
}
