:root {
  --page-max-width: 40rem;
  --base-text-color: hsl(0deg 0% 20%);

  font-family: system-ui, sans-serif;
  color: var(--base-text-color);
}

.container {
  padding: 1rem;
  max-width: var(--page-max-width);
  margin-inline: auto;
}
